<div class="container">
  <div class="row">
    <div class="col-12">
{{#if loggedIn}}
    <form class="new-post-form">
    {{!-- <label for="post-input" class="col-sm-2 control-label">Email:</label> --}}
        {{!-- <div class="col-sm-4"> --}}
        <input type="text" class="form-control" id="post-input" name="post-text" placeholder="What's on your mind?" /><button type="submit" class="btn btn-warning" id="btn-post">Post</button>
        {{!-- </div> --}}
    </form>
{{/if}}
    </div>
  </div>
</div>

<div class="container-title">
  <div class="row">
    <div class="col-12">
      <h2 class="text-warning">News Feed</h2>
    </div>
  </div>
</div>

<ol class="post-list">
<!-- posts array -->
{{#each posts as |post|}}
  <ul>
      {{> post-info post }} 
    </div>
  </ul>
{{/each}}
</ol>




{{#if loggedIn}}
<script src="/javascript/upvote.js"></script>
<script src="/javascript/comment.js"></script>
<script src="/javascript/add-post.js"></script>
{{/if}}

