<div class="container">
  <div class="row">
    <div class="col-12">
{{#if loggedIn}}
    <form class="new-post-form">
    {{!-- <label for="post-input" class="col-sm-2 control-label">Email:</label> --}}
        {{!-- <div class="col-sm-4"> --}}
        <input type="text" class="form-control bg-dark text-white" id="post-input" name="post-text" placeholder="What's on your mind?" />
        
        
        {{!-- Upload --}}
        <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
        <p><label for="file" class="text-warning" style="cursor: pointer;">Upload Image</label></p>
        <p><img id="output" width="200" /></p>
        
        
        <button type="submit" class="btn btn-warning" id="btn-post">Post</button>
        {{!-- </div> --}}
    </form>
{{/if}}
    </div>
  </div>
</div>

<div class="container-title">
  <div class="row">
    <div class="col-12">
      <div id="header-newsfeed-container">
        <h2 class="text-warning" id="header-newsfeed">News Feed</h2>
      </div>
      
    </div>
  </div>
</div>

<ol class="post-list" style="height: 80vh; overflow-y: scroll">
<!-- posts array -->
{{#each posts as |post|}}
  <ul>
      {{> post-info post }} 
    </div>
  </ul>
{{/each}}
</ol>


{{!-- style="height: 80vh; overflow-y: scroll" --}}




{{#if loggedIn}}
{{!-- <script src="/javascript/upvote.js"></script> --}}
{{!-- <script src="/javascript/comment.js"></script> --}}
<script src="/javascript/add-post.js"></script>
<script src="/javascript/search.js"></script>
<script src="/javascript/upload-image.js"></script>
{{/if}}

