<div class="container">
  <div class="row">
    <div class="col-12">
{{#if loggedIn}}
    <form class="new-post-form" action="/api/posts" enctype="multipart/form-data">
    {{!-- <label for="post-input" class="col-sm-2 control-label">Email:</label> --}}
        {{!-- <div class="col-sm-4"> --}}

        {{!--Post text--}} 
        <input type="text" class="form-control bg-dark text-white" id="post-input" name="post-text" placeholder="What's on your mind?" />
      
        {{!-- Upload Image--}}
        <input type="file" name="img" />
        {{!-- <input type="submit" value="Upload a file"/> --}}

        {{!-- Submit Button --}}
        <button type="submit" class="btn btn-warning" id="btn-post">Post</button>
        {{!-- </div> --}}
    </form>
{{/if}}
    </div>
  </div>
</div>

<div class="container-title">
  <div class="row">
    <div class="col-12">
      <div id="header-newsfeed-container">
        <h2 class="text-warning" id="header-newsfeed">News Feed</h2>
      </div>
      
    </div>
  </div>
</div>

<ol class="post-list">
<!-- posts array -->
{{#each posts as |post|}}
  <ul>
      {{> post-info post }} 
    </div>
  </ul>
{{/each}}
</ol>


{{#if loggedIn}}
<script src="/javascript/add-post.js"></script>
<script src="/javascript/search.js"></script>
{{/if}}

