
{{!-- <ol class="post-list">
<!-- posts array -->
{{#each posts}}
  <ul>
      {{> post-info }} 
    </div>
  </ul>
{{/each}}
</ol> --}}

<div>
    <ol class="profile-list">
      {{#each posts}}
      <li>
        {{> post-info}}
      </li>
      {{/each}}
    </ol>
  </div>





{{!-- <script src="/javascript/add-post.js"></script> --}}
{{!-- <script src="/javascript/search.js"></script> --}}


