<form class="search-form">
  <div>
    <label for="email-search">Search:</label>
    <input type="text" id="email-search" />
  </div>
  <div>
    <button type="submit">search</button>
  </div>
</form>

<!-- javascript reference -->
<script src="/javascript/search.js"></script>