
<ol class="post-list">
<!-- posts array -->
{{#each posts as |post|}}
  <ul>
      {{> post-info post }} 
    </div>
  </ul>
{{/each}}
</ol>





{{!-- <script src="/javascript/add-post.js"></script> --}}
<script src="/javascript/search.js"></script>


