
{{#each users}}
  {{> profile-card}}
{{/each}}

<section>
    <div id="profile-header-container">
      <h2 class="text-warning" id="profile-header">Your Search</h2>
    </div>

    <div>
          <ol class="post-list">
          <!-- posts array -->
          {{#each posts }}
            <ul>
              
                {{> search-card }} 
              
            </ul>
          {{/each}}
          </ol>
    </div>
</section>





{{!-- <script src="/javascript/add-post.js"></script> --}}
{{!-- <script src="/javascript/search.js"></script> --}}


