<form class="signup-form">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <label for="github-signup">Git Hub (Optional):</label>
    <input type="text" id="github-signup" />
  </div>
  <div>
    <label for="linkedin-signup">LinkedIn (Optional):</label>
    <input type="text" id="linked-signup" />
  </div>
  <div>
    <label for="bio-text">Bio:</label>
    <textarea name="bio-text" id="bio-signup"></textarea>
  </div>
  <div>
    <button type="submit">Signup</button>
  </div>
</form>

<!-- javascript file-->
<script src="/javascript/signup.js"></script>