<a href="/" style="text-decoration: none" class="text-warning"> &larr; Back to News Feed</a>

<!-- displaying articles -->
{{> single-info post}}

<div class="container-comments">
    <div class="row">
        <div class="col-12">
            {{> comments post.comments}}
        </div>
    </div>
</div>

<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>