<a href="/" style="text-decoration: none" class="text-warning"> &larr; Back to News Feed</a>

<!-- displaying articles -->
{{> single-info post}}


{{> comments post.comments}}

<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>