* {
  box-sizing: border-box;
}

body {
  background-color: #343a40;
}

.info {
  float: left;
  text-align: top;
  padding-left: 20px;
}
.pic {
  float: left;
}
img {
  border-radius: 40px;
}

.counter {
  display: block;
  width: 60%;
  height: 20px;
  background-color: inherit;
  border: thin solid black;
  padding: 5px;
  overflow: auto;
  
}
.result {
  display: block;
  width: 60%;
  height: 300px;
  background-color: inherit;
  border: thin solid black;
  border:none;
  padding: 5px;
  overflow: auto;
}
.card {
  display: block;
  width: 94%;
  height: 120px;
  margin:5px;
  background-color: lightgray;
  border-radius: 5px;
  border: thin solid black;
  padding: 5px;
   
}

body {
  font-family: arial;
}

.form-group {
  font-weight: bold;

}

#form-signup {
  margin-top: 20px;
}

#form-login {
  margin-top: 20px;
}

#btn-login {
  margin-left: 15px;
} 

#btn-signup {
  margin-left: 15px;
}

#view-post {
  padding: 0px;
  margin: 65px 5px;
}

.new-post-form {
  margin: 65px 5px;
}

#btn-post {
  margin: 15px 5px;
}

.post {
  font-size: 18px;
}

.post-container {
  margin: 50px 350px;
  padding: 5px;
}

.container-title {
  margin: 10px 400px;
}

a, #logout, .username, ::placeholder, #view-comment-btn {
  font-size: 18px;
}

.container-comments {
  margin: 30px 400px;
}

.comments {
  margin: 10px;
}







